@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000022;
}
@keyframes desplazar-difuminado {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}
@-webkit-keyframes desplazar-difuminado {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}
@-moz-keyframes desplazar-difuminado {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}
@-ms-keyframes desplazar-difuminado {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@keyframes desplazar-nubes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}
@-webkit-keyframes desplazar-nubes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}
@-moz-keyframes desplazar-nubes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}
@-ms-keyframes desplazar-nubes {
    from {
        background-position: 0;
    }
    to {
        background-position: 10000px 0;
    }
}

.estrellas,
.difuminado,
.nubes {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.estrellas {
    background: #000 url(/img/estrellas.png) repeat top center;
    background-attachment: fixed;
}

.difuminado {
    background: transparent url(/img/circulo.svg) repeat top center;
    background-attachment: fixed;
    -moz-animation: desplazar-difuminado 200s linear infinite;
    -ms-animation: desplazar-difuminado 200s linear infinite;
    -o-animation: desplazar-difuminado 200s linear infinite;
    -webkit-animation: desplazar-difuminado 200s linear infinite;
    animation: desplazar-difuminado 200s linear infinite;
}

.nubes {
    background: transparent url(/img/nubes.png) repeat-x top center;
    background-attachment: fixed;
    -moz-animation: desplazar-nubes 200s linear infinite;
    -ms-animation: desplazar-nubes 200s linear infinite;
    -o-animation: desplazar-nubes 200s linear infinite;
    -webkit-animation: desplazar-nubes 200s linear infinite;
    animation: desplazar-nubes 200s linear infinite;
}

/* EFECTO ANIMADO PARA EL FLIP DE LAS CARTAS */
.card-container {
    perspective: 1000px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1rem; /* Asegura que las esquinas redondeadas coincidan */
}

.card-back {
    transform: rotateY(180deg);
}
